html {
    background-color: #D7CEC7;
}
.selfie-of-me {
    max-width: 500px;
    max-height: 700px;
    border: 5px solid #C09F80;
    border-style: groove;
}
.screencap {
    max-width: 400px;
    max-height: 300px;
    border: 5px solid #C09F80;
    border-style: groove;
}
.ai {
    max-width:400px;
    max-height: 300px;
    border: 5px solid #C09F80;
    border-style: groove;
}

h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: #76323F;
}
h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #76323F
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #565656
}
li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #565656
}
p { 
    font-family: Arial, Helvetica, sans-serif;
    color: #565656;
}

LI {
    font-family: Arial, Helvetica, sans-serif;
    color: #565656;
}
#contact {
    display: block;
    color: #C09F80;
}


@media screen and (max-width: 992px) {
    h1, h2, h3, li a, LI{
        font-size: 125%;
    }
    .selfie-of-me {
        width: px;
        height: 475px;
    }
    .screencap {
        width: 190px;
        height: 142.5px;
    }
    .ai {
        width: 190px;
        height: 142.5px;
    }
}

@media screen and (max-width: 768px) {
    h1, h2, h3, li a, LI {
        font-size: 150%
    }
    .selfie-of-me {
        width: 375px;
        height: 525px;
    }
    .screencap {
        width: 140px;
        height: 105px;
    }
    .ai {
        width: 140px;
        height: 105px;
    }
}

@media screen and (max-width: 576px) {
    h1, h2, h3, li a, LI {
        font-size: 175%;
    }
    .selfie-of-me {
        width: 250px;
        height: 350px;
    }

    .screencap {
        width: 200px;
        height: 150px
    }

    .ai {
        width: 200px;
        height: 150px
    }
}